@use "./base.scss";
@use "./variables.scss" as *;

// put your custom CSS here!

.left {
  display: grid !important;
  gap: 1.5rem !important;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content min-content;
  align-items: center;

  .page-title {
    grid-area: 1 / 1 / 2 / 1;
  }

  .search {
    grid-area: 2 / 1 / span 1 / span 1;
  }

  .darkmode {
    grid-area: 2 / 2 / span 1 / span 1;
  }

  .explorer.desktop-only {
    grid-area: 3 / 1 / span 1 / span 2;
  }

  .recent-notes.desktop-only {
    grid-area: 4 / 1 / span 1 / span 2;
  }



  @media all and ($mobile) {
    display: flex !important;
  }
}

.sidebar {
  height: 100vh;
  // overflow-y: hidden;
  padding: 2rem 1rem 2rem !important;
}

ul.overflow,
ol.overflow {
  overflow-y: hidden;
}

ul.overflow:hover,
ol.overflow:hover {
  overflow-y: auto;
}

hr {
  opacity: .8;
}